<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Nivel7SegurancaEntities" connectionString="metadata=res://*/DALNivel7Seguranca.csdl|res://*/DALNivel7Seguranca.ssdl|res://*/DALNivel7Seguranca.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=Nivel7Seguranca;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>